@use "../base" as b;

.container {
  background: b.$background-container;
  cursor: pointer;
  max-width: 360px;
  height: 70%;

  border-radius: 0.5em;
  padding: 1em;

  @media (min-width: 550px) {
    display: flex;
    flex-direction: row;
    max-width: 700px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    padding: 1em 1.2em;
  }

  &__image,
  &__body {
    height: 250px;
    align-items: center;

    @media (min-width: 550px) {
      &__image {
        width: 40%;
      }
      &__body {
        width: 60%;
      }
    }
  }
}
